@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');
:root{
    --dark-vi: #3a2b30;
    --light-pink: #d68a99;
    --soft-white: #facbd0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cabin', sans-serif;
}
.menu {

    display: flex;
    align-items: center;
    background-color: var(--dark-vi);
   color: white;
    height: 10vh;
    border-bottom: 3px solid rgb(26, 25, 25);
 }
 header{
     width: 30%;
     padding-right: 10%;
     font-size: 1.2em;
     text-align: center;
 }
 header h1::first-letter{
     color: var(--light-pink);
     font-size: 1.3em;
 }
 
 nav{
  
     width: 70%;
     font-size: 1.2em;
 }
 ul{
     display: flex;
     justify-content: space-evenly;
     
 }
 nav ul{
     list-style-type: none;
   
 }
 nav li{
    cursor: pointer;
 }
 nav li:hover{
     font-weight: 700;
     text-decoration: underline;
     transition: 0.2s;
 
 }
 .f-letter{
    color: #d68a99;
    font-size: 1.3em;
 }
 
 .welcome-section{
     background-image: url(./images/booksMainPhoto.jpg);
     
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .welcome-text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: var(--soft-white);
     
     -webkit-box-shadow: -1px 2px 106px 16px rgba(0,0,0,1);
     -moz-box-shadow: -1px 2px 106px 16px rgba(0,0,0,1);
     box-shadow: -1px 2px 106px 16px rgba(0,0,0,1);
    border-radius: 25px;
     height: 25%;
     width: 35%;
     text-align: center;
    color: rgb(3, 3, 3);
 }
 .welcome-text h2{
     font-size: 1.6em;
     margin-bottom: 10px;
 }
 .welcome-text p{
     font-size: 1.2em;
 }

 .btn-bookfinder{
     width: 35%;
     height: 25%;
     background-color: var(--light-pink);
     color: black;
     font-size: 1.4em;
     padding-top: 7px;
    
     text-decoration: none;
     margin: 12px;
     border-radius: 10px;
     -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.95);
     -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.95);
     box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.95);

 }
 .btn-bookfinder:hover{
     background: #c07382;
     transition: 0.2s;
 }
 .btn-bookfinder:active{
    background: #3a2b30;
    transition: 0.2s;
}





















